<!doctype html>
<html>
<head>
    <title>owners profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

  <section class="dataContainer">
    <p>Totals wins :  <%= house[0].totalWins %> </p>
    <p>Total losses : <%= house[0].totalLosses %> </p>
    <p>Profit : $<%= house[0].profit %> </p>
    <p>Balance :$<%= house[0].balance %> </p>
    <!-- <button href="/" type="button" name="button">Go Back</button> -->
  </section>



<script src="main.js"></script>

</body>
</html>
